<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/style.css" />
<script src="/javascripts/script.js"></script>
<title>Learning Express</title>
</head>

<body>
  <div class="Main-Div">
      <h1 class="Heading">
        Hii folks this is Ridwan
      </h1>
      <Button class="Button" onclick="tgl()">Click Me To Change Color</Button>
  </div>

</body>

</html>